:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --black-color: #000000;
    --gray-button: #F5F4FA;
}
body {
    background-color: var(--white-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
ul {
    list-style: none;
}
/*Шапка*/
.header {
   
}
.link-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    font-family: Raleway, sans-serif;
    color: var(--black-color);
    text-decoration: none;
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--blue-color);
}
.info-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    color: var(--main-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}
.info-link:hover,
.info-link:focus {
    color: var(--blue-color);
}
/*Секция Герой*/
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
}
.button {
    color: var(--white-color);
    background-color: var(--blue-color);
}
/*Особености*/
.specifics-title {      
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.specifics-text {
    font-size: 14px;
    line-height: 24px;
}
/*Чем мы занимаемся*/
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    color: var(--secondary-text-color);
}
/*Наша команда*/
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    text-align: center;
    color: var(--secondary-text-color);
}
.specifics-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
} 
/*Подвал*/
.address-maps {
    text-decoration: none;
    font-size: 14px;
    line-height: 1,71;
    color: var(--white-color);
}
.footer-info {
    font-size: 14px;
    line-height: 1,71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
/*Портфолио css*/
.portfolio-link {
    color: var(--blue-color);
}
.portfolio-link:hover,
.portfolio-link:focus {

}
.key {
    color: var(--secondary-text-color);
    background-color: var(--gray-button);
}
.key:hover,
.key:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}
.text-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.indent-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--main-text-color);
}
.link-navigation {
   text-decoration: none; 
}
